:root {
}
.style-head-row {
  text-align: center !important;
  justify-content: center !important;
  font-weight: bolder !important;
  font-size: 18px !important;
  color: var(--bg-color-green) !important;
  border: none !important;
}
.style-center-elements {
  text-align: center !important;
  justify-content: center !important;
  border: none !important;
}
